<div class="row p-3">
    <h1 class="text-white">Experiencie</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3 class="text-white">Experiencie 1</h3>-<h5 class="text-white">year(xxxx-xxxx)</h5>
            </li>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam cumque soluta nemo tempore dignissimos
                animi accusantium maiores nostrum, placeat natus eaque non delectus voluptate corporis voluptas fugiat
                repellat molestiae accusamus.</p>
        </ul>
        <ul>
            <li>
                <h3 class="text-white">Experiencie 2</h3>-<h5 class="text-white">year(xxxx-xxxx)</h5>
            </li>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam cumque soluta nemo tempore dignissimos
                animi accusantium maiores nostrum, placeat natus eaque non delectus voluptate corporis voluptas fugiat
                repellat molestiae accusamus.</p>
        </ul>
        <ul>
            <li>
                <h3 class="text-white">Experiencie 3</h3>-<h5 class="text-white">year(xxxx-xxxx)</h5>
            </li>
            <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam cumque soluta nemo tempore dignissimos
                animi accusantium maiores nostrum, placeat natus eaque non delectus voluptate corporis voluptas fugiat
                repellat molestiae accusamus.</p>
        </ul>

    </div>
</div>