<div class="row p-4">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/20221011_100224.jpg" alt="" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="text-white text-center mt-5"><strong>Coronel Luciano</strong></p>
        <p class="text-white text-center">Full-Stack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="text-white text-center">Acerca de mí</h1>
            <p class="text-white text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta
                obcaecati, quo corrupti laboriosam est
                voluptate velit aliquam sapiente blanditiis, temporibus unde dignissimos neque vel a voluptatum
                itaque
                odit! Reprehenderit, error!
            </p>
        </span>
    </div>
</div>