<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="row">
  <footer class="text-center text-lg-start" style="background-color: rgb(12, 2, 74)">
    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <div class="d-flex justify-content-center align-items-center me-auto mb-lg-0">
        <a href="https://github.com/lucho9595" target="_blank"><img src="../../../assets/Github 1.png" alt="Github"></a>
        <a href="https://www.linkedin.com/in/luciano-coronel-90503bb8/" target="_blank"><img
            src="../../../assets/Linkedin.png" alt="Linkedin"></a>
        <a href="https://www.instagram.com/lucho.coro" target="_blank"><img src="../../../assets/Instagram.png"
            alt="Instagram"></a>
      </div>
      <br/>
      <div>
        © 2020 Copyright Coronel Luciano
      </div>
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- End of .container -->