/* .row{
    background-color: rgb(12, 2, 74);
}

footer{
    font-size: 17px;
    display: flex;
    flex-direction: column;
    text-align: center;
} */
img{
    width: 30px;
    margin-right: 10px;
}