<div class="row">
    <h1 class="text-white">Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">HTML</h5>
        <circle-progress [percent]="95" [radius]="80" [imageSrc]="'../assets/lenguajes/HTML.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">CSS</h5>
        <circle-progress [percent]="90" [radius]="80" [imageSrc]="'../assets/lenguajes/CSS.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">JAVASCRIPT</h5>
        <circle-progress [percent]="95" [radius]="80" [imageSrc]="'../assets/lenguajes/JAVASCRIPT.png'"
            [imageHeight]="50" [imageWidth]="80" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
            [outerStrokeWidth]="10" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">REACT</h5>
        <circle-progress [percent]="80" [radius]="80" [imageSrc]="'../assets/lenguajes/REACT.png'" [imageHeight]="90"
            [imageWidth]="160" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">REDUX</h5>
        <circle-progress [percent]="70" [radius]="80" [imageSrc]="'../assets/lenguajes/REDUX.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">ANGULAR</h5>
        <circle-progress [percent]="60" [radius]="80" [imageSrc]="'../assets/lenguajes/ANGULAR.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">NODE.JS</h5>
        <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../assets/lenguajes/NODEJS.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">EXPRESS</h5>
        <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../assets/lenguajes/EXPRESS.png'" [imageHeight]="90"
            [imageWidth]="170" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">SEQUELIZE</h5>
        <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../assets/lenguajes/SEQUELIZE .png'"
            [imageHeight]="60" [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
            [outerStrokeWidth]="10" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">POSTGRESQL</h5>
        <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../assets/lenguajes/PostgresqL.png'"
            [imageHeight]="60" [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false"
            [outerStrokeWidth]="10" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [animation]="true" [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">POSTMAN</h5>
        <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../assets/lenguajes/postman.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">GIT</h5>
        <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../assets/lenguajes/GIT.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">COMUNICATION</h5>
        <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../assets/lenguajes/comunication.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">PROBLEM RESOLUTION</h5>
        <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../assets/lenguajes/resolvedProblem.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">SPEAK ENGLISH</h5>
        <circle-progress [percent]="70" [radius]="80" [imageSrc]="'../assets/lenguajes/speakenglish.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <h5 class="text-white mt-5">TEAMWORK</h5>
        <circle-progress [percent]="100" [radius]="80" [imageSrc]="'../assets/lenguajes/teamwork.png'" [imageHeight]="60"
            [imageWidth]="60" [showImage]="true" [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="10"
            [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

</div>